.close-btns {
	cursor: pointer;
	position: inherit;
	right: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	border: none;
	background: rgb(255,255,255,0.7);
	border-radius: 50%;
}
.close-btns-icon {
	position: inherit;
	user-select: none;
	left: 12px;
	top: 12px;
	width: 15px;
	height: 15px;
}