#sleep-remind-setter {
	transition: 0.7s;
	position: absolute;
	z-index: 6;
	top: -600px;
	height: 500px;
	width: 1000px;
	border-radius: 20px;
	border: 2px solid #C0C4CC;
	background-color: white;
	visibility: hidden;
}
#sleep-remind-reminder {
	transition: 0.5s;
	position: absolute;
	z-index: 6;
	bottom: 20px;
	right: -450px;
	height: 200px;
	width: 400px;
	border-radius: 20px;
	border: 2px solid #C0C4CC;
	background-color: white;
	visibility: hidden;
}
