#time-clock {
	user-select: none;
	position: absolute;
	z-index: 2;
	top: 130px;
	font-size: 80px;
	font-weight: 500;
	/* color: #606266; */
	color: aliceblue;
}
#date-clock-1 {
	user-select: none;
	position: absolute;
	z-index: 2;
	top: 270px;
	font-size: 16px;
	color: #63656C;
	font-weight: 500;
}
#date-clock-2 {
	user-select: none;
	position: absolute;
	z-index: 2;
	top: 300px;
	font-size: 20px;
	color: #63656C;
	font-family: "Cascadia mono";
}
